<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <!-- <% if (todo) { %> <% } %> -->

    <form action="/todo/update/<%= index %>" method="post">
      <input type="text" name="title" value="<%= todo && todo.title %>" id="" />
      <input
        type="text"
        name="content"
        value="<%= todo && todo.content %>"
        id=""
      />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
