<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>Signup</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="text-center">Sign Up</h2>
          <form action="/register" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                placeholder="Enter username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="repeatPassword" class="form-label"
                >Repeat Password</label
              >
              <input
                type="password"
                class="form-control"
                id="repeatPassword"
                name="repeatPassword"
                placeholder="Repeat password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
          </form>
          <div class="text-center mt-3">
            <p>Already have an account? <a href="/login">Login</a></p>
          </div>
          <div class="text-center mt-3">
            <p><%= errorMessage && errorMessage %></p>
          </div>
        </div>
      </div>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
